/* support for code blocks and tabs */
.code-tabs {
  border: 1px solid $lightPurple;
  margin-bottom: 1rem;

  .tab-bar {
    background: $lightPurple;

    button {
      padding: 3px 6px;
      display: inline-block;
      cursor: pointer;
      border: none;
      font-size: 0.95rem;
      background: transparent;
    }

    button.active {
      background: white;
    }
  }

  .tab-content {
    position: relative;

    .filename {
      position: absolute;
      right: 0;
      margin: 0;
      bottom: 0;
      padding: 0 6px 0 8px;
      line-height: 1.5;
      background: $flame8;
      font-size: 0.85rem;
      border-top-left-radius: 3px;
    }

    .copy,
    .copied {
      position: absolute;
      right: 3px;
      top: 2px;
      margin: 0;
      padding: 0 6px;
      border-radius: 2px;
      font-size: 0.85rem;
      background: $desatPurple3;
      border: none;
      color: white;
    }

    .copy {
      display: none;
    }

    .keyword-selector {
      background: $desatPurple4;
      border-radius: 2px;
      margin: 0 -2px;
      padding: 0 2px;
      cursor: context-menu;

      &:focus {
        outline: none;
        background: $desatPurple3;
      }

      &:after {
        content: "▾";
      }

      &.open:after {
        content: "▴";
      }

      &:hover {
        background: $desatPurple3;

        &:after {
          color: white;
        }
      }
    }

    .keyword-selector-wrapper {
      .selections {
        margin-top: -2px;
        position: absolute;
        background: $desatPurple6;
        color: white;
        border-radius: 3px;
        box-shadow: 0px 18px 46px -11px rgba(0, 0, 0, 0.63);
        overflow: auto;
        max-height: 200px;
        z-index: 100;

        button {
          font-family: $font-family-sans-serif;
          padding: 2px 8px;
          text-align: left;
          display: block;
          width: 100%;
          background: none;
          color: white;
          border: none;

          &:hover,
          &.active {
            background: $desatPurple3;
          }
        }
      }
    }

    pre {
      margin: 0;
      padding: 5px 10px;
      border-radius: 0;
    }
  }

  &:hover {
    .copy {
      display: block;
    }
  }
}