.global-header {
  &:before {
    display: block;
    content: "";
    background-color: $white;
    width: 10px;
    left: -5px;
    height: 100%;
    position: absolute;
  }
}

.content-max {
  box-sizing: content-box;
  max-width: 1000px;
}

html,
body {
  height: 100%;
}

.document-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  overflow: hidden;

  > .global-header {
    grid-area: header;
  }

  > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
  }
}

@include media-breakpoint-up(md) {
  .document-wrapper {
    display: grid;
    grid-template-areas:
      'header main'
      'sidebar main';
    grid-template-rows: auto 1fr;
    grid-template-columns: 270px 1fr;
    max-height: 100vh;
    overflow: scroll;
  }

  #sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0em;
    max-height: 100%;
  }
}

.doc-toc {
  position: sticky;
  top: $spacer;
}
